TimeTool/resources/activity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="activity">
 	  <xs:sequence>
     	<xs:element name="name" type="xs:string"/>
     	<xs:element name="shortName" type="xs:string"/>
     	<xs:element name="projectCode" type="xs:positiveInteger"/>
     	<xs:element name="activityCode" type="xs:positiveInteger"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:positiveInteger"/>
	</xs:complexType>
</xs:schema>